[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log-error       = /var/log/mysql/error.log
lower-case-table-names=1
sql-mode="NO_ENGINE_SUBSTITUTION"
secure-file-priv=""
local-infile=1
character_set_server=utf8mb4
open_files_limit=50000
innodb_open_files=20000
optimizer_switch=derived_merge=off,subquery_to_derived=off,prefer_ordering_index=off,semijoin=off
table_open_cache=50000
table_definition_cache=50000
bind-address=0.0.0.0
disable-log-bin
read_buffer_size=8192
read_rnd_buffer_size=1
sync_source_info =10000
innodb_redo_log_capacity=100663296
innodb_fast_shutdown=0
authentication_policy=mysql_native_password
max_connections=800